
<!-- Footer -->
<footer class="page-footer font-small primary-color">
  <!-- Copyright -->
  <div class="footer-copyright p-3">
      <div class="float-left">
    © 2018 Copyright:
    <a href="http://Roni.pe.hu"> http://Roni.pe.hu </a>
    </div>

    <div class="float-right">
     
        <!-- Google +-->
        <a class="gplus-ic">
            <mdb-icon icon="google" size="1x" class="white-text mr-md-3 mr-2"></mdb-icon>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
            <mdb-icon icon="linkedin" size="1x" class="white-text mr-md-3 mr-2"></mdb-icon>
        </a>
       
       
      </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->