.detailsBT{
    margin: 0 auto;
    display: block;
}
.card{
    margin: 15px 0px;
    cursor: pointer;
}
.mask{
    cursor: pointer;}
 .card .card-body h4{
     text-align: center;
        font-size: 18px;
    }
    .card-body{
        height:100px;
    }
    .view img{
        padding: 10px;
    }
.moviesListWrapper {
    margin-bottom: 100px;
}