.detailsBT {
    margin: 0 auto;
    display: block;
}
.mask {
    cursor: pointer;
}
.view img {
    padding: 10px;
}
.moviesListWrapper {
    margin-bottom: 100px;
}
.card {
    margin: 15px 0;
    cursor: pointer;
    .card-body {
        height: 120px;
        padding: 0.5rem;
        h4 {
            text-align: center;
            font-size: 18px;
        }
        h6 {
            font-size: 14px;
        }
    }
}
mdb-card-title h6 {
    text-align: center;
}